body {
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
}
h2 {
    font-weight: 400px;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}
h3 {
    font-size: 24px;
    line-height: 36px;
}
.btn_text {
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color:#fff;

    text-decoration: none;
    display: block;
    width: 250px;
    height: 50px;
    background-color: #5A0D67;
}
.btn_text:hover{
    background-color: #fff;
    color:#5A0D67;
}
.text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}



.header {
    width: 1600px;
    height: 700px;
    background-image: url("../img/header_bg.jpg");
    color: #fff;
    position: relative;
}
.header_wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-top: 47px;
}
.logo_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.header_text .text{
    margin: 30px 0;
}
.header_nav {
    margin-top: 70px;
    width: 250px;
    text-align: center;
}
.header_nav_item {
    height: 25px;
    margin-right: 10px;
}
.header_nav > :last-child{
    margin: 0;
}
.header_car {
    position: absolute;
    top: 453px;
    left: 586px;
}
.services {
    color: #2C2B2B;
    width: 1100px;
    margin: 300px 300px 100px 200px;

}
.services_title {
    color: #21062A;
}
.services_title_line {
    display: inline-block;
    background-color: #21062A;
    width: 80px;
    height: 3px;
    margin-bottom: 16px;
    margin-left: 5px;
}
.services_slider {
    position: relative;
    margin-bottom: 25px;
}
.slider_item {
    height: 510px;
    width: 504px;
}
.slider_item .text{
    margin-bottom: 12px;
}
.services_par_title {
    color: #5A0D67;
    margin-top: 50px;
}
.services .slick-list, .draggable {
    padding: 0 0!important;
}
.services .slick-dots {
    position: absolute;
    right: 0;
    top: 10px;
}

.services .slick-active > .slider_button{
    height: 75px;
    width: 500px;
    background: none;
    border: 2px solid #5A0D67;
}
.services .slick-active  > .slider_button > .btn_num, .slick-active  > .slider_button > .slider_btn_text .slider_btn_name{
    color: #5A0D67;
}
.slider_button{
    height: 75px;
    width: 450px;
    margin-bottom: 12px;
    background: none;
    border: 1px solid #C4C4C4;
    position: relative;
}
.btn_num{
    display: block;
    position: absolute;
    top: 11px;
    left: 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #C4C4C4;
    text-align: left;
    transform: rotate(-90deg);
}
.slider_btn_text {
    color: #2C2B2B;
    position: absolute;
    top: 10px;
    left: 113px;
}
.button_wrapper {
    position: relative;
}
.services_btn_line {
    width: 80px;
    height: 1px;
    background-color: #C4C4C4;
    position: absolute;
    top: 25px;
    left: 245px;
    opacity: 0.4;
}
.btn_beyond {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #C4C4C4;
    position: absolute;
    left: 335px;
    top: 17px;
    opacity: 0.4;
}
.reasons {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}
.reasons_car {
    margin-right: 95px;
}
.reasons_text_wrapper > h2{
    margin-left: 185px;
}
.reasons_text_box {
    background-color: #21062A;
    color: #fff;
    width: 594px;
    height: 507px;
    padding-left: 185px;
    padding-top: 3px;
    margin-top: 50px;
}
.reasons_text_box > h2{
    margin-top: 20px;
}
.reasons_text_box > .text{
    width: 316px;
}
.cars_slider{
    width: 1200px;
    margin: 0 auto;
}
.car_card{
    width: 390px;
    height: 350px;
    border: 1px solid #c4c4c4;
    color: #2C2B2B;
}
.car_card_img{
    margin-left: 6px;
    margin-top: 7px;
}
.car_card_text{
    text-align: center;
    margin-top: 28px;
}
.car_card_text > :first-child{
    margin-bottom: 5px;
}
.car_slider_wrapper .slick-current .car_card{
    border: 1px solid #5A0D67;
    background-color: #5A0D67;
    color: #fff;
}
.car_slide_dot{
    width: 50px;
    height: 1px;
    background-color: #c4c4c4;
}
.car_slider_wrapper > .slick-dots{
    display: flex;
    width: 400px;
    margin: 50px auto 0 auto;
    justify-content: space-between;
}

.car_slider_wrapper .slick-active > .car_slide_dot{
    height: 3px;
    background-color: #5A0D67;
}

.car_slider_wrapper{
    margin-top: 50px;
    margin-bottom: 100px;
}
.contacts {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.contacts_item {
    width: 600px;
}
.contacts_par_title {
    color:#5A0D67;
    margin-top: 20px;
}
.cpt_first{
    margin-top: 50px;
}
.contacts>div{
    margin-top: 50px;
}
.contacts > form{
    background-color: #21062A;
}
.contacts > form > h2{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 4px;
}
.contacts > form > h2 > div{
    background-color:#fff;
}
.input {
    display: block;
    background: none;
    width: 450px;
    height: 75px;
    margin: 12px auto;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}
.input:focus{
    outline: none;
}
form > .btn_text{
    border: none;
    margin: 78px auto 57px auto;
}
.footer_logo {
    background-color: #21062A;
}
.footer_logo_wrapper {
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conf_pol {
    text-decoration: none;
    opacity: 0.5;
    color: #fff;
}
::placeholder{
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}